.inputBox {
  height: 5rem;
  width: 60%;
  font-size: 2rem;
  border-radius: 20px;
  border: 0.5px solid black;
  padding: 1rem;
}

.inputContainer {
  width: 80%;
  height: 5rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.inputButton {
  width: 15%;
  height: 3rem;
  margin: 0 1rem;
  background-color: white;
  margin: 1rem 2rem;
  border: 0.5px solid black;
  cursor: pointer;
  width: 20%;
  color: rgb(36, 224, 36);
  border-radius: 30px;
  font-size: 1.2rem;
  font-size: 1.2rem;
  font-weight: 900;
}
