.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-family: Orbitron, sans-serif;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

.icon {
  height: 1.7rem;
  width: auto;
  vertical-align: middle;
}